/*
img.curtain_wrapper
	{
		height:800px;
		z-index=99;
	}
img.curtainleft
	{ position:absolute;
	  left:0px;
	  cursor:pointer;
	}
img.curtainright
	{ position:absolute;
	  right:0px;
	  cursor:pointer;
	}
.curtain_wrapper
	{width:100%;
	 height:700px;
	 margin:0px auto;
	 position:relative;
	 overflow:hidden;
	}
.contentinside
	{position:relative;
	 width:auto;
	 margin:0px auto;
	} */	
.jumptoquotes
	{
		font-family:"Times New Roman",jokerman,"Matura MT Script Capital";
		font-size:20px;
		color:white;
	}
.jumptocontact
	{	font-family:"Times New Roman",jokerman,"Matura MT Script Capital";
		font-size:20px;
		color:white;
		margin-left:960px;
	}
.top
	{
		color:white;
	}
.top:hover
	{
		color:blue;
		font-size:21px;
	}
.top:visited
	{
		color:white;
	}
.header
	{ font-style:italic;
	  font-weight:bold;
	  font-size:80px;
	  text-align:center;
	  width:100%;
	  height:150px;
	  color:white;
	  position:fixed;
    }
#nav
	{position:relative;
     width:100px;
     height:150px;
	 float:left;
	 margin-top:180px;
	 display:none;
	 
	}
#menu
	{position:absolute;
	 width:200px;
	 margin-top:140px;
	 margin-bottom:0px;
	}
.backimage
	{
     left:0;
	 right:0;
	 position:absolute;
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-o-filter:blur(5px);
	-ms-filter:blur(5px);
	filter:blur(5px);
	height:650px;
	width:100%;
	z-index:-1;
	}
.everything
	{position:absolute;
	 left:0;
	 right:0;
	 z-index:90;
	 }
.button1
	{
	 font-family:"Times New Roman";
	 font-size:22px;
	 opacity:1.0;
	 height:10px;
	 text-decoration:none;
	 color:#00FF99;
	 margin-left:30px;	
	}
.button
	{
     font-family:arial;
	 font-size:25px;
	 opacity:1.0;
	 height:450px;
	 text-decoration:none;
	 color:#00ffcc;
	 margin-left:30px;
	 line-height:170%;
	}

.button:hover
	{
	 font-size:30px;
	 font-family:arial;
	 opacity:1.0;
	 color:#00bfff;
	 text-decoration:none;
	}
.button1:hover
	{
		font-size:24px;
		cursor:pointer;
	}
.button:focus
	{
		text-decoration:none;
		color:white;
		border-radius:40%;
		font-family:arial;
		border:none;
		outline:none;
	}
.frame
	{
    float:right;
	margin-right:800px;
	z-index:99;
	}
.content
	{
	clear:both;	
	}
.quote1
	{
      border-top:1px solid black;
	  border-bottom:1px solid black;
	  background-color:#FFDAB9;
	  opacity:0.7;
	  padding-left:250px;
	}
.quote1:hover	
	{ 
	  opacity:1.0;
	}
.quote3
	{
      border-top:1px solid black;
	  border-bottom:1px solid black;
	  background-color:#FFDAB9;
	  opacity:0.7;
	  padding-left:250px;
	}
.quote3:hover	
	{
	  opacity:1.0;
	}

.photoframe
	{
		margin-top:170px;
	}
table
	{
	  margin:auto;
	}
td
	{
	height:200px;
	width:200px;
	}
.cool
	{
	 -webkit-transition:all 2s ease;
	 -moz-transition:all 2s ease;
	 -o-transition:all 2s ease;
	 -ms-transition:all 2s ease;
	 transition:all 2s ease;
	}
.cool:hover
	{ border-radius:50%;
	  -webkit-transform:rotate(20deg);
	  -moz-transform:rotate(20deg);
	  -o-transform:rotate(20deg);
	  -ms-transform:rotate(20deg);
	  transform:rotate(20deg);
		height:250px;
		width:300px;
	 -webkit-box-shadow:5px 5px 5px 5px;
	 box-shadow:5px 5px 5px 5px;
	}
#footer
	{
	 margin-top:80px;
	 position:;
	 left:0;
	 right:0;
	}
.bottomimage
	{
		position:absolute;
		z-index:-1;
		left:0;
		right:0;
	}
#footercontent
	{
		color:white;
		line-height:140%
	}
.authorname
	{   color:lightgrey;
		margin-left:50px;
		padding-top:400px;
	}
#authorhimani
	{
		color:#00FFFF;
		text-decoration:underline;
	}